#s-71bb6a67-4b75-4656-8cad-af49975c56ea > #backgroundBox {
  position: absolute;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea > #alignmentBox {
  position: relative;
  margin: 0 auto;
  max-width: 1920.0px;
  max-height: 1080.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Image_3 {
  position: absolute;
  width: 693.1818181818178px;
  height: 461.6699218749998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Image_1 {
  position: absolute;
  width: 740.9999999999999px;
  height: 501.4775390625001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 {
  position: absolute;
  width: 1919.9999999999995px;
  min-height: 170.83605248497096px;
  opacity: 0.67;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  blur(5.0px);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #ACFFEC;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 {
  position: absolute;
  width: 150.0px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_1 {
  position: absolute;
  width: 612.0390625000002px;
  min-height: 91.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Agbalumo_5.0.0_google',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Agbalumo_5.0.0_google',Arial;
  font-size: 42.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Agbalumo_5.0.0_google',Arial;
  font-size: 42.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_2 {
  position: absolute;
  width: 649.6124038696303px;
  min-height: 384.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Image_2 {
  position: absolute;
  width: 640.0px;
  height: 435.6249999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_3 {
  position: absolute;
  width: 661.6124038696307px;
  min-height: 472.5702476804405px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_4 span#rtr-s-Text_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_5 {
  position: absolute;
  width: 672.4414062500005px;
  min-height: 177.6838290662654px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea #s-Text_5 span#rtr-s-Text_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
#s-71bb6a67-4b75-4656-8cad-af49975c56ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}